.postBody h2,
.postBody h3 {
    @apply font-bold my-2;
}

.postBody h1 {
    @apply text-3xl;
}

.postBody p {
    @apply text-base my-4;
}

.postBody h2 {
    @apply text-2xl;
}

.postBody h3 {
    @apply text-xl;
}

.postBody a {
    @apply text-carolina-blue underline;
}

.postBody ul {
    counter-reset: item;

    @apply list-inside list-decimal;
}
  
.postBody ol > li,
.postBody ul > li {
    list-style-type: none;
    counter-increment: item;
}
  
.postBody  ol > li:before,
.postBody  ul > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 1.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

.postBody a:hover {
    @apply cursor-pointer;
}

.postBody code,
.postBody pre {
    @apply p-1 bg-gray-900 rounded;
}

.postBody pre {
    @apply my-2 p-2;
}

.postBody code {
    @apply text-ghost-white;
}

.postBody img {
    width: 100%;
    @apply mx-auto my-4 rounded shadow-md;
}

@screen md {
    .postBody h2,
    .postBody h3 {
        @apply mt-5 mb-3;
    }

    .postBody h1 {
        @apply text-4xl;
    }
    
    .postBody h2 {
        @apply text-3xl;
    }
    
    .postBody h3 {
        @apply text-2xl;
    }

    .postBody img {
        width: 80%;
        @apply my-8;
    }

    .postBody pre {
        @apply my-4 p-4;
    }
}